<% content_for(:page_title, 'Sign in') %>

<h1><%= t('.title') %></h1>
<p><%= t('.description') %></p>

<div class="buttons">
  <%= render partial: 'identity/auth/back_button', locals: { url: :back } %>
  <%= render partial: 'identity/auth/sign_in_button' %>
</div>
